@CHARSET "UTF-8";

.banner{
	width: 100%;
	height: 150px;
}

.topo{
	padding-bottom: 10px;
}

.ui-widget, .ui-widget .ui-widget{
	font-size: 100% !important;
}

.button-align{
	text-align: left;
	float: right;
}