<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      template="/templates/modelo.xhtml"> 
 
<ui:define name="conteudo"> 
	<h:form id="formAgenda">
		<p:schedule value="#{caixaBean.datas}" timeZone="UTC-03:00">
			<p:ajax event="dateSelect" listener="#{caixaBean.novo}" update=":formCadastro:painel" oncomplete="PF('dialogo').show();"></p:ajax>
		</p:schedule>
	</h:form>
	
	<p:dialog resizable="false" draggable="false" modal="true" closable="true" header="Caixa" widgetVar="dialogo">
		<h:form id="formCadastro">
			<h:panelGrid id="painel" columns="2">
				<p:outputLabel value="Data de Abertura:"/>
				<p:inputText value="#{caixaBean.caixa.dataAbertura}">
					<f:convertDateTime locale="pt_BR"/>
				</p:inputText>
				
				<p:outputLabel value="Valor de Abertura:"/>
				<p:inputText value="#{caixaBean.caixa.valorAbertura}"/>
				
				<p:outputLabel value="Funcionario:"/>
				<p:selectOneMenu converter="omnifaces.SelectItemsConverter" value="#{caixaBean.caixa.funcionario}">
					<f:selectItem noSelectionOption="true" itemLabel="Selecione um funcionario"/>
					<f:selectItems value="#{caixaBean.funcionarios}" var="funcionario" itemValue="#{funcionario}" itemLabel="#{funcionario.pessoa.nome}"/>
				</p:selectOneMenu>
			</h:panelGrid>
			<h:panelGrid columns="1">
				<p:commandButton value="Salvar" actionListener="#{caixaBean.salvar}" update=":formAgenda :mensagem" oncomplete="PF('dialogo').hide();"></p:commandButton>
			</h:panelGrid>
		</h:form>
	</p:dialog>
</ui:define>
</ui:composition>
