<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/modelo.xhtml">

<ui:define name="conteudo"> 

	<h:form id="formListagem">
		<p:panel header="Cidades - Listagem">
			<p:dataTable emptyMessage="Nenhum registro encontrado"
				value="#{cidadeBean.cidades}" var="cidade" rows="5" paginator="true"
				id="tabela">
				<f:facet name="header">
					<p:commandButton value="novo" actionListener="#{cidadeBean.novo}"
						oncomplete="PF('dialogo').show();"
						update=":formCadastro:painelCadastro :mensagem">
						<f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener"/>
					</p:commandButton>
				</f:facet>
				<p:column headerText="Nome" filterBy="#{cidade.nome}"
					sortBy="#{cidade.nome}">
					<h:outputText value="#{cidade.nome}" />
				</p:column>
				<p:column headerText="Estado" filterBy="#{cidade.estado.nome}"
					sortBy="#{cidade.estado.nome}">
					<h:outputText value="#{cidade.estado.nome}" />
				</p:column>
				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-trash"
						actionListener="#{cidadeBean.excluir}"
						update=":mensagem :formListagem:tabela">
						<p:confirm header="Confirmação"
							message="Deseja excluir a cidade ?" icon="ui-icon-alert" />
						<f:attribute name="cidadeSelecionada" value="#{cidade}" />
					</p:commandButton>
					<p:commandButton icon="ui-icon-pencil"
						actionListener="#{cidadeBean.editar}"
						update=":mensagem :formCadastro:painelCadastro"
						oncomplete="PF('dialogo').show();">
						<f:attribute name="cidadeSelecionada" value="#{cidade}" />
						<f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener"/>
					</p:commandButton>
				</p:column>
			</p:dataTable>

			<p:confirmDialog global="true">
				<p:commandButton value="SIM" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="NÃO" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>

	<p:dialog header="Cidades - Cadastro" widgetVar="dialogo"
		draggable="false" resizable="false" modal="true" closable="false">
		<h:form id="formCadastro">
			<h:panelGrid columns="2" id="painelCadastro">
				<p:outputLabel for="nome" value="Nome:" />
				<p:inputText id="nome" size="30" maxlength="50"
					required="true" value="#{cidadeBean.cidade.nome}" />

				<p:outputLabel for="estado" value="Estado:" />
				<p:selectOneMenu id="estado" filter="true" value="#{cidadeBean.cidade.estado}"
					required="true" converter="omnifaces.SelectItemsConverter">
					<f:selectItem noSelectionOption="true"
						itemLabel="Selecione um Estado" />
					<f:selectItems value="#{cidadeBean.estados}" var="estado"
						itemValue="#{estado}" itemLabel="#{estado.nome}" />
				</p:selectOneMenu>
			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="salvar"
					actionListener="#{cidadeBean.salvar}"
					update=":mensagem :formListagem:tabela :formCadastro:painelCadastro" />
				<p:commandButton value="fechar" oncomplete="PF('dialogo').hide();" />
			</h:panelGrid>
		</h:form>
	</p:dialog>

</ui:define>
</ui:composition>
