<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/modelo.xhtml">

<ui:define name="conteudo">
	<div class="ui-fluid">

	<h:form id="formListagem">
		<p:panel header="Clientes - Listagem" styleClass="ui-fluid">
			<p:dataTable emptyMessage="Nenhum registro encontrado" id="tabela"
				paginator="true" value="#{clienteBean.clientes}" var="cliente"
				rows="5" reflow="true" widgetVar="tabela">
				<f:facet name="header">
					<p:commandButton value="novo" oncomplete="PF('dialogo').show();"
						actionListener="#{clienteBean.novo}"
						update=":mensagem :formCadastro:painelCadastro">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>
				<p:column headerText="Nome">
					<h:outputText value="#{cliente.pessoa.nome}" />
				</p:column>
				<p:column headerText="CPF">
					<h:outputText value="#{cliente.pessoa.cpf}" />
				</p:column>
				<p:column headerText="Data de Cadastro">
					<h:outputText value="#{cliente.dataCadastro}">
						<f:convertDateTime locale="pt_BR" />
					</h:outputText>
				</p:column>
				<p:column headerText="Liberado" filterBy="#{cliente.liberado}">
					<f:facet name="filter">
						<p:selectOneButton onchange="PF('tabela').filter()">
							<f:selectItem itemValue="" itemLabel="todos"/>
							<f:selectItem itemValue="true" itemLabel="Sim"/>
							<f:selectItem itemValue="false" itemLabel="Não"/>
						</p:selectOneButton>
					</f:facet>
					<p:selectBooleanCheckbox value="#{cliente.liberado}"
						disabled="true" />
				</p:column>
				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-trash"
						actionListener="#{clienteBean.excluir}"
						update=":mensagem :formListagem:tabela">
						<p:confirm header="Confirmação"
							message="Deseja excluir o cliente ?" icon="ui-icon-alert" />
						<f:attribute name="clienteSelecionado" value="#{cliente}" />
					</p:commandButton>
					<p:commandButton icon="ui-icon-pencil"
						actionListener="#{clienteBean.editar}"
						update=":mensagem :formCadastro:painelCadastro"
						oncomplete="PF('dialogo').show();">
						<f:attribute name="clienteSelecionado" value="#{cliente}" />
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>

	<p:dialog header="Clientes - Cadastro" widgetVar="dialogo"
		draggable="false" resizable="false" modal="true" closable="false" responsive="true">
		<h:form id="formCadastro">
			<p:panelGrid columns="2" id="painelCadastro" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4,ui-grid-col-8">
				<p:outputLabel for="pessoa" value="Pessoa:" />
				<p:selectOneMenu id="pessoa" filter="true" converter="omnifaces.SelectItemsConverter"
					value="#{clienteBean.cliente.pessoa}" required="true">
					<f:selectItem noSelectionOption="true" itemValue=""
						itemLabel="Selecione uma Pessoa" />
					<f:selectItems value="#{clienteBean.pessoas}" var="pessoa"
						itemValue="#{pessoa}" itemLabel="#{pessoa.nome}" />
				</p:selectOneMenu>

				<p:outputLabel for="data" value="Data de Cadastro:" />
				<p:calendar id="data" value="#{clienteBean.cliente.dataCadastro}"
					required="true" locale="pt_BR"/>

				<p:outputLabel for="ativo" value="Ativo:" />
				<p:selectBooleanCheckbox id="ativo"
					value="#{clienteBean.cliente.liberado}" required="true" />
			</p:panelGrid>
			<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-6,ui-grid-col-6">
				<p:commandButton value="salvar" actionListener="#{clienteBean.salvar}"
					update=":mensagem :formCadastro:painelCadastro :formListagem:tabela" />
				<p:commandButton value="fechar" oncomplete="PF('dialogo').hide();" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
	</div>

</ui:define>
</ui:composition>
