<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/modelo.xhtml">
	
<ui:define name="conteudo">

	<h:form id="formListagem">
		<p:panel header="Estdados - Listagem">
			<p:dataTable emptyMessage="Nenhum registro encontrado" id="tabela"
				paginator="true" value="#{estadoBean.estados}" var="estado" rows="5">

				<f:facet name="header">
					<p:commandButton value="novo" oncomplete="PF('dialogo').show();"
						actionListener="#{estadoBean.novo()}"
						update=":formCadastro:painelCadastro" />
				</f:facet>
				<p:column headerText="Nome" sortBy="#{estado.nome}"
					filterBy="#{estado.nome}">
					<h:outputText value="#{estado.nome}" />
				</p:column>
				<p:column headerText="Sigla" filterBy="#{estado.sigla}">
					<h:outputText value="#{estado.sigla}" />
				</p:column>
				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-trash" actionListener="#{estadoBean.excluir}" update=":mensagem :formListagem:tabela">
						<p:confirm header="Confirmação"
							message="Deseja excluir o estado ?" icon="ui-icon-alert" />
						<f:attribute name="estadoSelecionado" value="#{estado}"/>
					</p:commandButton>
					<p:commandButton icon="ui-icon-pencil" actionListener="#{estadoBean.editar}" update=":mensagem :formCadastro:painelCadastro" oncomplete="PF('dialogo').show();">
						<f:attribute name="estadoSelecionado" value="#{estado}"/>
					</p:commandButton>
				</p:column>

			</p:dataTable>

			<p:confirmDialog global="true">
				<p:commandButton value="SIM" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="NÃO" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>

	<p:dialog header="Estados - Cadastro" widgetVar="dialogo"
		draggable="false" resizable="false" modal="true" closable="false">

		<h:form id="formCadastro">

			<h:panelGrid columns="2" id="painelCadastro">
				<p:outputLabel value="Nome:" />
				<p:inputText size="30" maxlength="50"
					value="#{estadoBean.estado.nome}" converter="upperCaseConverter">
					<p:ajax update="@this" event="blur"/>
				</p:inputText>

				<p:outputLabel value="Sigla:" />
				<p:inputText size="10" maxlength="2"
					value="#{estadoBean.estado.sigla}" converter="upperCaseConverter">
					<p:ajax update="@this" event="blur"/>
				</p:inputText>
			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="salvar"
					actionListener="#{estadoBean.salvar()}"
					update=":mensagem :formCadastro:painelCadastro :formListagem:tabela" />
				<p:commandButton value="fechar" oncomplete="PF('dialogo').hide();" />
			</h:panelGrid>

		</h:form>
		
	</p:dialog>
	
</ui:define>

</ui:composition>
