<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      template="/templates/modelo.xhtml"> 

<ui:define name="conteudo"> 

	<h:form id="formListagem">
			<p:panel header="Fabricantes - Listagem">
				<p:dataTable id="tabela" emptyMessage="Nenhum registro encontrado."
					paginator="true" value="#{fabricanteBean.fabricantes}"
					var="fabricante" rows="5" paginatorPosition="top">
					<f:facet name="header">
						<p:commandButton value="Novo" oncomplete="PF('dialogo').show();"
							actionListener="#{fabricanteBean.novo}"
							update=":formCadastro:painel">
							<f:actionListener
								type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
						</p:commandButton>
					</f:facet>

					<p:column headerText="Descrição" sortBy="#{fabricante.descricao}"
						filterBy="#{fabricante.descricao}">
						<h:outputText value="#{fabricante.descricao}" />
					</p:column>

					<p:column headerText="Opções">
						<p:commandButton icon="ui-icon-trash"
							actionListener="#{fabricanteBean.excluir}"
							update=":mensagem :formListagem:tabela">
							<p:confirm header="Confirmação"
								message="Deseja excluir o fabricante?" icon="ui-icon-alert" />
							<f:attribute name="fabricanteSelecionado" value="#{fabricante}" />
						</p:commandButton>

						<p:commandButton icon="ui-icon-pencil"
							actionListener="#{fabricanteBean.editar}"
							update=":formCadastro:painel" oncomplete="PF('dialogo').show();">
							<f:attribute name="fabricanteSelecionado" value="#{fabricante}" />
							<f:actionListener
								type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
						</p:commandButton>
					</p:column>
				</p:dataTable>

				<p:confirmDialog global="true">
					<p:commandButton value="Sim" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="Não" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</p:panel>
		</h:form>
		
		<p:dialog header="Fabricantes - Cadastro" widgetVar="dialogo"
			draggable="false" resizable="false" modal="true" closable="false">
			<h:form id="formCadastro">
				<h:panelGrid id="painel" columns="2">
					<p:outputLabel for="descricao" value="Nome:" />
					<p:inputText id="descricao" maxlength="50" size="30"
						value="#{fabricanteBean.fabricante.descricao}" required="true"
						requiredMessage="O campo Descrição é obrigatório" />
				</h:panelGrid>

				<h:panelGrid columns="2">
					<p:commandButton value="Salvar"
						actionListener="#{fabricanteBean.salvar}"
						update=":mensagem :formCadastro:painel :formListagem:tabela" />
					<p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" />
				</h:panelGrid>
			</h:form>
		</p:dialog>
</ui:define>
</ui:composition>
