<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      template="/templates/modeloLogin.xhtml"> 
 
<ui:define name="conteudo"> 
	<h:form id="formLogin">
	<p:dialog header="Autenticação" closable="false" draggable="false" resizable="false" visible="true">
		<h:panelGrid columns="2">
			<p:outputLabel for="cpf" value="CPF: "/>
			<p:inputMask id="cpf" mask="999.999.999-99" required="true" value="#{autenticacaoBean.usuario.pessoa.cpf}"/>
			
			<p:outputLabel for="senha" value="SENHA: "/>
			<p:password id="senha" required="true" value="#{autenticacaoBean.usuario.senha}"/>
			
			<p:outputLabel value=""/>
			<p:commandButton value="Entrar" update=":mensagem" actionListener="#{autenticacaoBean.autenticar}"></p:commandButton>
			
		</h:panelGrid>
	</p:dialog>
	</h:form>
</ui:define>
</ui:composition>
