<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/modelo.xhtml">

<ui:define name="conteudo">

	<h:form id="formListagem">
		<p:panel header="Pessoas - Listagem">
			<p:dataTable emptyMessage="Nenhum registro encontrado"
				paginator="true" id="tabela" rows="5" value="#{pessoaBean.pessoas}"
				var="pessoa">
				<f:facet name="header">
					<p:commandButton value="Novo" oncomplete="PF('dialogo').show();"
						actionListener="#{pessoaBean.novo}"
						update=":mensagem :formCadastro:painelCadastro">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>

				<p:column headerText="Nome">
					<h:outputText value="#{pessoa.nome}" />
				</p:column>

				<p:column headerText="RG">
					<h:outputText value="#{pessoa.rg}" />
				</p:column>

				<p:column headerText="CPF">
					<h:outputText value="#{pessoa.cpf}" />
				</p:column>

				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-trash"
						actionListener="#{pessoaBean.excluir}"
						update=":mensagem :formListagem:tabela">
						<p:confirm header="Confirmação"
							message="Deseja excluir a pessoa ?" icon="ui-icon-alert" />
						<f:attribute name="pessoaSelecionada" value="#{pessoa}" />
					</p:commandButton>
					<p:commandButton icon="ui-icon-pencil"
						actionListener="#{pessoaBean.editar}"
						update=":mensagem :formCadastro:painelCadastro"
						oncomplete="PF('dialogo').show();">
						<f:attribute name="pessoaSelecionada" value="#{pessoa}" />
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</p:column>
			</p:dataTable>

			<p:confirmDialog global="true">
				<p:commandButton value="SIM" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="NÃO" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>

	<p:dialog header="Pessoas - Cadastro" widgetVar="dialogo"
		draggable="false" resizable="false" modal="true" closable="false">

		<h:form id="formCadastro">

			<h:panelGrid columns="2" id="painelCadastro">
				<p:outputLabel for="nome" value="Nome:" />
				<p:inputText id="nome" maxlength="50" size="30"
					value="#{pessoaBean.pessoa.nome}" required="true"
					requiredMessage="O campo 'Nome' é obrigatório" />

				<p:outputLabel for="rg" value="RG:" />
				<p:inputMask mask="999.999.999-9" id="rg"
					value="#{pessoaBean.pessoa.rg}" required="true"
					requiredMessage="O campo CPF é obrigatório" />

				<p:outputLabel for="cpf" value="CPF:" />
				<p:inputMask mask="999.999.999-99" id="cpf" size="10"
					value="#{pessoaBean.pessoa.cpf}" required="true"
					requiredMessage="O campo CPF é obrigatório" />

				<p:outputLabel value="Estado:" />
				<p:selectOneMenu id="estado" filter="true" required="true"
					converter="omnifaces.SelectItemsConverter" value="#{pessoaBean.estado}"
					requiredMessage="O campo Estado é obrigatório">
					<f:selectItem noSelectionOption="true"
						itemLabel="Selecione um estado" />
					<f:selectItems value="#{pessoaBean.estados}" var="estado"
						itemValue="#{estado}" itemLabel="#{estado.nome}" />
					<p:ajax listener="#{pessoaBean.popular}" update=":formCadastro:cidade"/>
				</p:selectOneMenu>

				<p:outputLabel value="Cidade:" />
				<p:selectOneMenu id="cidade" filter="true" required="true"
					converter="omnifaces.SelectItemsConverter" value="#{pessoaBean.pessoa.cidade}"
					requiredMessage="O campo Cidade é obrigatório">
					<f:selectItem noSelectionOption="true"
						itemLabel="Selecione uma cidade" />
					<f:selectItems value="#{pessoaBean.cidades}" var="cidade"
						itemValue="#{cidade}" itemLabel="#{cidade.nome}" />
				</p:selectOneMenu>

				<p:outputLabel for="rua" value="Rua:" />
				<p:inputText id="rua" maxlength="100" size="50"
					value="#{pessoaBean.pessoa.rua}" required="true"
					requiredMessage="O campo 'Rua' é obrigatório" />

				<p:outputLabel value="Número" />
				<p:inputText maxlength="5" size="10"
					value="#{pessoaBean.pessoa.numero}" required="true"
					requiredMessage="O campo 'Número' é obrigatório"
					converterMessage="Informe um valor válido para o campo 'Número'"
					validatorMessage="Informe um valor entre 1 e 32767 para o campo 'Número'">
					<f:validateLongRange minimum="1" maximum="32767" />
				</p:inputText>

				<p:outputLabel for="bairro" value="Bairro:" />
				<p:inputText id="bairro" maxlength="30" size="20"
					value="#{pessoaBean.pessoa.bairro}" required="true"
					requiredMessage="O campo 'Bairro' é obrigatório" />

				<p:outputLabel for="cep" value="CEP:" />
				<p:inputMask mask="99.999-999" id="cep" value="#{pessoaBean.pessoa.cep}"/>

				<p:outputLabel for="complemento" value="Complemento:" />
				<p:inputText id="complemento" maxlength="10" size="10"
					value="#{pessoaBean.pessoa.complemento}" />

				<p:outputLabel for="telefone" value="Telefone:" />
				<p:inputMask mask="(99)9999-9999" id="telefone"  value="#{pessoaBean.pessoa.telefone}"/>

				<p:outputLabel for="celular" value="Celular:" />
				<p:inputMask mask="(99)99999-9999" id="celular" value="#{pessoaBean.pessoa.celular}"/>

				<p:outputLabel for="email" value="Email:" />
				<p:inputText id="email" maxlength="100" size="50"
					value="#{pessoaBean.pessoa.email}" required="true"
					requiredMessage="O campo 'Email' é obrigatório" />
			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="salvar"
					actionListener="#{pessoaBean.salvar}"
					update=":mensagem :formCadastro:painelCadastro :formListagem:tabela" />
				<p:commandButton value="fechar" oncomplete="PF('dialogo').hide();" />
			</h:panelGrid>

		</h:form>
	</p:dialog>
</ui:define>
</ui:composition>
