<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/modelo.xhtml">

<ui:define name="conteudo"> 

	<h:form id="formListagem">
		<p:panel header="Produtos - Listagem">
			<p:dataTable emptyMessage="Nenhum registro encontrado" id="tabela"
				value="#{produtoBean.produtos}" var="produto" paginator="true"
				rows="5">
				<f:facet name="header">
					<p:commandButton value="novo" actionListener="#{produtoBean.novo}"
						oncomplete="PF('dialogo').show();"
						update=":mensagem :formCadastro:painel">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
					<p:commandButton icon="ui-icon-print" actionListener="#{produtoBean.imprimir()}" update=":mensagem"/>
				</f:facet>
				<p:column headerText="Descrição" filterBy="#{produto.descricao}">
					<h:outputText value="#{produto.descricao}" />
				</p:column>
				<p:column headerText="Quantidade">
					<h:outputText value="#{produto.quantidade}" />
				</p:column>
				<p:column headerText="Preço">
					<h:outputText value="#{produto.preco}">
						<f:convertNumber locale="pt_BR" minFractionDigits="2" />
					</h:outputText>
				</p:column>
				<p:column headerText="Imagem">
					<p:graphicImage cache="false" height="50" width="50" url="http://localhost:8080/upload/origem#{produto.codigo}.png"/>
				</p:column>
				<p:column headerText="Fabricante" filterBy="#{produto.fabricante.descricao}">
					<h:outputText value="#{produto.fabricante.descricao}" />
				</p:column>
				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-trash"
						actionListener="#{produtoBean.excluir}"
						update=":mensagem :formListagem:tabela">
						<p:confirm header="Confirmação"
							message="Deseja excluir o produto?" icon="ui-icon-alert" />
						<f:attribute name="produtoSelecionado" value="#{produto}" />
					</p:commandButton>

					<p:commandButton icon="ui-icon-pencil"
						actionListener="#{produtoBean.editar}"
						update=":mensagem :formCadastro:painel"
						oncomplete="PF('dialogo').show();">
						<f:attribute name="produtoSelecionado" value="#{produto}" />
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
					
					<p:commandButton icon="ui-icon-arrowthick-1-s" actionListener="#{produtoBean.download}" ajax="false">
						<f:attribute name="produtoSelecionado" value="#{produto}" />
						<p:fileDownload value="#{produtoBean.foto}"/>
					</p:commandButton>
				</p:column>
			</p:dataTable>

			<p:confirmDialog global="true">
				<p:commandButton value="Sim" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Não" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>

	<p:dialog header="Produtos - Cadastro" widgetVar="dialogo"
		draggable="true" resizable="false" modal="true" closable="false">
		<h:form id="formCadastro" enctype="multipart/form-data">
			<h:panelGrid columns="2" id="painel">
				<p:outputLabel for="descricao" value="Descrição:" />
				<p:inputText id="descricao" required="true" size="30" maxlength="50"
					value="#{produtoBean.produto.descricao}" />

				<p:outputLabel for="quantidade" value="Quantidade:" />
				<p:inputText id="quantidade" required="true" size="10" maxlength="5"
					value="#{produtoBean.produto.quantidade}"
					validatorMessage="Informe um valor entre 0 e 100"
					converterMessage="Valor informado inválido">
					<f:validateLongRange minimum="0" maximum="100" />
				</p:inputText>

				<p:outputLabel for="preco" value="Preço:" />
				<p:inputText id="preco" required="true" size="10" maxlength="7"
					value="#{produtoBean.produto.preco}"
					validatorMessage="Informe um valor entre 0.01 e 9999.99"
					converterMessage="Valor informado inválido">
					<f:convertNumber locale="pt_BR" minFractionDigits="2" />
					<f:validateDoubleRange minimum="0.01" maximum="9999.99" />
				</p:inputText>

				<p:outputLabel for="fabricante" value="Fabricante:" />
				<p:selectOneMenu id="fabricante" required="true" filter="true"
					converter="omnifaces.SelectItemsConverter"
					value="#{produtoBean.produto.fabricante}">
					<f:selectItem itemValue="" itemLabel="Selecione um Fabricante" />
					<f:selectItems value="#{produtoBean.fabricantes}" var="fabricante"
						itemValue="#{fabricante}" itemLabel="#{fabricante.descricao}" />
				</p:selectOneMenu>

				<p:outputLabel for="upload" value="Upload:" />
				<p:fileUpload id="upload" mode="advanced" required="true"
					fileUploadListener="#{produtoBean.upload}"  update=":mensagem :formCadastro:foto"/>
					
				<p:outputLabel for="foto" value="Foto:"/>
				<p:graphicImage id="foto" value="#{imagemBean.foto}">
					<f:param name="caminho" value="#{produtoBean.produto.caminho}"/>
				</p:graphicImage>
			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="salvar"
					actionListener="#{produtoBean.salvar}"
					update=":mensagem :formCadastro:painel :formListagem:tabela" />
				<p:commandButton value="fechar" oncomplete="PF('dialogo').hide();" />
			</h:panelGrid>
		</h:form>
	</p:dialog>

</ui:define>
</ui:composition>
