<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/templates/modelo.xhtml">

	<ui:define name="conteudo">
		<f:metadata>
			<f:viewParam name="codigo"
				value="#{produtoListagemBean.codigoProduto}" required="true"
				requiredMessage="código é obrigatório" />
			<f:viewAction action="#{produtoListagemBean.listarFabricantes}" />
		</f:metadata>

		<h:form id="formCadastro">
			<p:panel header="Produtos Edição">
				<h:panelGrid columns="2" id="painel">
					<p:outputLabel for="descricao" value="Descrição:" />
					<p:inputText id="descricao" required="true" size="30"
						maxlength="50" value="#{produtoListagemBean.produto.descricao}" />

					<p:outputLabel for="quantidade" value="Quantidade:" />
					<p:inputText id="quantidade" required="true" size="10"
						maxlength="5" value="#{produtoListagemBean.produto.quantidade}"
						validatorMessage="Informe um valor entre 0 e 100"
						converterMessage="Valor informado inválido">
						<f:validateLongRange minimum="0" maximum="100" />
					</p:inputText>

					<p:outputLabel for="preco" value="Preço:" />
					<p:inputText id="preco" required="true" size="10" maxlength="7"
						value="#{produtoListagemBean.produto.preco}"
						validatorMessage="Informe um valor entre 0.01 e 9999.99"
						converterMessage="Valor informado inválido">
						<f:convertNumber locale="pt_BR" minFractionDigits="2" />
						<f:validateDoubleRange minimum="0.01" maximum="9999.99" />
					</p:inputText>

					<p:outputLabel for="fabricante" value="Fabricante:" />
					<p:selectOneMenu id="fabricante" required="true" filter="true"
						converter="omnifaces.SelectItemsConverter"
						value="#{produtoListagemBean.produto.fabricante}">
						<f:selectItem itemValue="" itemLabel="Selecione um Fabricante" />
						<f:selectItems value="#{produtoListagemBean.fabricantes}"
							var="fabricante" itemValue="#{fabricante}"
							itemLabel="#{fabricante.descricao}" />
					</p:selectOneMenu>

				</h:panelGrid>

				<h:panelGrid columns="2">
					<p:commandButton value="Editar" />
					<p:button value="Voltar" outcome="/pages/produtosListagem.xhtml"/>
				</h:panelGrid>
			</p:panel>
		</h:form>

	</ui:define>
</ui:composition>
