<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/modelo.xhtml">

<ui:define name="conteudo"> 
<f:metadata>
	<f:viewAction action="#{produtoListagemBean.listar}"/>
</f:metadata>

	<h:form id="formListagem">
		<p:panel header="Produtos - Listagem">
			<p:dataTable emptyMessage="Nenhum registro encontrado" id="tabela"
				value="#{produtoListagemBean.produtos}" var="produto" paginator="true"
				rows="5">
				<f:facet name="header">
					<p:commandButton value="novo"/>
					<p:commandButton icon="ui-icon-print"/>
				</f:facet>
				<p:column headerText="Descrição" filterBy="#{produto.descricao}">
					<h:outputText value="#{produto.descricao}" />
				</p:column>
				<p:column headerText="Quantidade">
					<h:outputText value="#{produto.quantidade}" />
				</p:column>
				<p:column headerText="Preço">
					<h:outputText value="#{produto.preco}">
						<f:convertNumber locale="pt_BR" minFractionDigits="2" />
					</h:outputText>
				</p:column>
				<p:column headerText="Fabricante" filterBy="#{produto.fabricante.descricao}">
					<h:outputText value="#{produto.fabricante.descricao}" />
				</p:column>
				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-trash"/>
					
					<p:button icon="ui-icon-pencil" outcome="/pages/produtosEdicao.xhtml">
						<f:param name="codigo" value="#{produto.codigo}"/>
					</p:button>
				</p:column>
			</p:dataTable>

		</p:panel>
	</h:form>

</ui:define>
</ui:composition>
