<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/templates/modelo.xhtml">

	<ui:define name="conteudo">
		<h:form id="form">
			<p:panel header="Produto">
				<p:panelGrid columns="3">
					<p:outputLabel for="codigo" value="Codigo" />
					<p:inputText id="codigo" size="10" maxlength="10" required="true"
						converterMessage="Valor incorreto"
						validatorMessage="Valor fora do limite estabelecido"
						value="#{produtoPesquisaBean.produto.codigo}">
						<f:validateLongRange minimum="1" maximum="9999999999" for="codigo" />
					</p:inputText>
					<p:commandButton icon="ui-icon-search"
						update="mensagem :form:resultado"
						actionListener="#{produtoPesquisaBean.buscar}" />
				</p:panelGrid>

				<h:panelGroup layout="block" id="resultado">
					<p:panelGrid columns="2"
						rendered="#{produtoPesquisaBean.exibePainel}">
						<p:outputLabel value="Descrição:" />
						<h:outputText value="#{produtoPesquisaBean.produto.descricao}" />

						<p:outputLabel value="Preço:" />
						<h:outputText value="#{produtoPesquisaBean.produto.preco}" />

						<p:outputLabel value="Quantidade:" />
						<h:outputText value="#{produtoPesquisaBean.produto.quantidade}" />

						<p:outputLabel value="Fabricante:" />
						<h:outputText
							value="#{produtoPesquisaBean.produto.fabricante.descricao}" />
					</p:panelGrid>
				</h:panelGroup>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
