<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/modelo.xhtml">

<ui:define name="conteudo">

	<h:form id="formListagem">
		<p:panel header="#{lbl.cabecalhoPaninel}">
			<p:dataTable id="tabela" emptyMessage="Nenhum registro encontrado" rows="5"
				paginator="true" value="#{usuarioBean.usuarios}" var="usuario">
				<f:facet name="header">
					<p:commandButton value="#{lbl.botaoNovo}" actionListener="#{usuarioBean.novo}"
						update=":mensagem :formCadastro:painel"
						oncomplete="PF('dialogo').show();">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>
				<p:column headerText="#{lbl.cabecalhoNome}" sortBy="#{usuario.pessoa.nome}"
					filterBy="#{usuario.pessoa.nome}">
					<h:outputText value="#{usuario.pessoa.nome}" />
				</p:column>
				<p:column headerText="CPF" sortBy="#{usuario.pessoa.cpf}"
					filterBy="#{usuario.pessoa.cpf}">
					<h:outputText value="#{usuario.pessoa.cpf}" />
				</p:column>
				<p:column headerText="Tipo" sortBy="#{usuario.tipoUsuario.toString()}">
					<h:outputText value="#{usuario.tipoUsuario.toString()}" />
				</p:column>
				<p:column headerText="Ativo" sortBy="#{usuario.ativoFormatado}">
					<h:outputText value="#{usuario.ativoFormatado}" />
				</p:column>
				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-trash"
						actionListener="#{usuarioBean.excluir}"
						update=":mensagem :formListagem:tabela">
						<p:confirm header="Confirmação"
							message="Deseja excluir o usuário ?" icon="ui-icon-alert" />
						<f:attribute name="usuarioSelecionado" value="#{usuario}" />
					</p:commandButton>
					<p:commandButton icon="ui-icon-pencil"
						actionListener="#{usuarioBean.editar}"
						update=":mensagem :formCadastro:painel"
						oncomplete="PF('dialogo').show();">
						<f:attribute name="usuarioSelecionado" value="#{usuario}" />
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
			
			<p:confirmDialog global="true">
				<p:commandButton value="SIM" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="NÃO" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>

	<p:dialog header="Usuários - Cadastro" widgetVar="dialogo"
		draggable="false" resizable="false" modal="true" closable="false">
		<h:form id="formCadastro">
			<p:panelGrid id="painel" columns="2" styleClass="ui-panelgrid-blank">
				<p:outputLabel for="pessoa" value="Pessoa:" />
				<p:selectOneMenu filter="true" id="pessoa"
					converter="omnifaces.SelectItemsConverter"
					value="#{usuarioBean.usuario.pessoa}" required="true">
					<f:selectItem noSelectionOption="true"
						itemLabel="Selecione uma Pessoa" />
					<f:selectItems value="#{usuarioBean.pessoas}" var="pessoa"
						itemValue="#{pessoa}" itemLabel="#{pessoa.nome}" />
				</p:selectOneMenu>

				<p:outputLabel for="senha" value="Senha:" />
				<p:password id="senha" maxlength="8" size="10"
					value="#{usuarioBean.usuario.senha}" required="true"
					validatorMessage="Informe uma senha de 6 a 8 caracteres">
					<f:validateLength minimum="6" maximum="8" />
				</p:password>

				<p:outputLabel for="tipo" value="Tipo:" />
				<p:selectOneRadio id="tipo" required="true" value="#{usuarioBean.usuario.tipoUsuario}">
					<f:selectItem itemValue="ADMINISTRADOR" itemLabel="Administrador" />
					<f:selectItem itemValue="GERENTE" itemLabel="Gerente" />
					<f:selectItem itemValue="BALCONISTA" itemLabel="Balconista" />
				</p:selectOneRadio>

				<p:outputLabel for="ativo" value="Ativo:" />
				<p:selectBooleanCheckbox id="ativo" value="#{usuarioBean.usuario.ativo}" required="true"/>
			</p:panelGrid>
			<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
				<p:commandButton value="salvar" actionListener="#{usuarioBean.salvar}" update=":formListagem:tabela :mensagem :formCadastro:painel"/>
				<p:commandButton value="fechar" oncomplete="PF('dialogo').hide();" />
			</p:panelGrid>
		</h:form>
	</p:dialog>

</ui:define>
</ui:composition>
