<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/modelo.xhtml">
	
<ui:define name="metadata">
	<f:metadata>
		<f:viewAction action="#{vendaBean.listar}"></f:viewAction>
	</f:metadata>
</ui:define>

<ui:define name="conteudo"> 

	<h:form id="formListagem">
		<p:panel header="Vendas - Listagem">
			<p:dataTable emptyMessage="Nenhum registro encontrado"
				value="#{vendaBean.vendas}" var="venda" rows="5" paginator="true"
				id="tabela">
				<f:facet name="header">
					
				</f:facet>
				<p:column style="width:16px">
					<p:rowToggler/>
				</p:column>
				<p:column headerText="Horario" 
					sortBy="#{venda.horario}">
					<h:outputText value="#{venda.horario}">
						<f:convertDateTime locale="pt_BR" pattern="dd/MM/yyyy HH:mm"/>
					</h:outputText>
				</p:column>
				<p:column headerText="Preço Total" 
					sortBy="#{venda.precoTotal}">
					<h:outputText value="#{venda.precoTotal}">
						<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
					</h:outputText>
				</p:column>
				<p:column headerText="Cliente" filterBy="#{venda.cliente.pessoa.nome}"
					sortBy="#{venda.cliente.pessoa.nome}">
					<h:outputText value="#{venda.cliente.pessoa.nome}" />
				</p:column>
				<p:column headerText="Funcionário" filterBy="#{venda.funcionario.pessoa.nome}"
					sortBy="#{venda.funcionario.pessoa.nome}">
					<h:outputText value="#{venda.funcionario.pessoa.nome}" />
				</p:column>
				
				<p:rowExpansion>
					<p:dataTable emptyMessage="Nenhum registro encontrado" value="#{venda.itensVenda}" var="item">
						<p:column headerText="Produto">
							<h:outputText value="#{item.produto.descricao}" />
						</p:column>
						<p:column headerText="Quantidade">
							<h:outputText value="#{item.quantidade}" />
						</p:column>
						<p:column headerText="Preço">
							<h:outputText value="#{item.precoParcial}">
								<f:convertNumber locale="pt_BR" minIntegerDigits="2"/>
							</h:outputText>
						</p:column>
					</p:dataTable>
				</p:rowExpansion>
			</p:dataTable>

		</p:panel>
	</h:form>

</ui:define>
</ui:composition>
