<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      template="/templates/modelo.xhtml"> 
<ui:define name="metadata">
	<f:metadata>
		<f:viewAction action="#{vendaBean.novo}"/>
	</f:metadata>
</ui:define>
<ui:define name="conteudo"> 
	
	<h:form id="venda">
		<p:panel header="Produtos">
			<p:dataTable emptyMessage="Nenhum registro encontrado" id="tabelaProduto"
				value="#{vendaBean.produtos}" var="produto" paginator="true"
				rows="5" paginatorPosition="bottom">
				<p:column headerText="Descrição" filterBy="#{produto.descricao}" sortBy="#{produto.descricao}">
					<h:outputText value="#{produto.descricao}" />
				</p:column>
				<p:column headerText="Quantidade">
					<h:outputText value="#{produto.quantidade}" />
				</p:column>
				<p:column headerText="Preço" sortBy="#{produto.preco}">
					<h:outputText value="#{produto.preco}">
						<f:convertNumber locale="pt_BR" minFractionDigits="2" />
					</h:outputText>
				</p:column>
				<p:column headerText="Fabricante" filterBy="#{produto.fabricante.descricao}" sortBy="#{produto.fabricante.descricao}">
					<h:outputText value="#{produto.fabricante.descricao}" />
				</p:column>
				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-plus" actionListener="#{vendaBean.adicionar}" update=":venda:tabelaCarrinho :venda:painelTotal">
						<f:attribute name="produtoSelecionado" value="#{produto}"/>
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</p:panel>
		
		<p:remoteCommand actionListener="#{vendaBean.atualizarPrecoParcial}" name="rc" update=":venda:tabelaCarrinho :venda:painelTotal"></p:remoteCommand>
		<p:panel header="Carrinho">
			<p:dataTable emptyMessage="Nenhum registro encontrado" id="tabelaCarrinho"
				value="#{vendaBean.itensVenda}" var="itemVenda" paginator="true"
				rows="5" paginatorPosition="bottom" editable="true" editMode="cell">
				
				<p:ajax event="cellEdit" oncomplete="rc()" />
				
				<p:column headerText="Descrição">
					<h:outputText value="#{itemVenda.produto.descricao}" />
				</p:column>
				<p:column headerText="Preço Unitário">
					<h:outputText value="#{itemVenda.produto.preco}">
						<f:convertNumber locale="pt_BR" minFractionDigits="2" />
					</h:outputText>
				</p:column>
				<p:column headerText="Quantidade" >
					<p:cellEditor>
						<f:facet name="output"><h:outputText value="#{itemVenda.quantidade}" /></f:facet>
						
						<f:facet name="input">
							<p:inputText value="#{itemVenda.quantidade}"></p:inputText> 
						</f:facet>			
					</p:cellEditor>
				</p:column>
				<p:column headerText="Preço parcial">
					<h:outputText value="#{itemVenda.precoParcial}" >
						<f:convertNumber locale="pt_BR" minFractionDigits="2" />
					</h:outputText>
				</p:column>
				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-minus" actionListener="#{vendaBean.remover}" update=":venda:tabelaCarrinho :venda:painelTotal">
						<f:attribute name="itemSelecionado" value="#{itemVenda}"/>
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</p:panel>
		
		<p:panel header="Total">
			<p:panelGrid columns="3" id="painelTotal">
				<p:outputLabel value="Total"/>
				<h:outputText value="R$ #{vendaBean.venda.precoTotal}" >
					<f:convertNumber locale="pt_BR" minFractionDigits="2" />
				</h:outputText>
				<p:commandButton value="Finalizar" oncomplete="PF('dialogo').show();" actionListener="#{vendaBean.finalizar}" update=":formFinalizar:painelFinalizar">
					<f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener"/>
				</p:commandButton>
			</p:panelGrid>
		</p:panel>
	</h:form>
	
	<p:dialog header="Finalizar Venda" widgetVar="dialogo" draggable="false" resizable="false" modal="true" closable="false">
		<h:form id="formFinalizar">
			<p:panelGrid columns="2" id="painelFinalizar">
				
				<p:outputLabel value="Horario:"/>
				<h:outputText value="#{vendaBean.venda.horario}">
					<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" locale="pt_BR" timeZone="America/Sao_Paulo"/>
				</h:outputText>
				
				<p:outputLabel value="Valor Total:"/>
				<h:outputText value="#{vendaBean.venda.precoTotal}" >
					<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
				</h:outputText>
				
				<p:outputLabel for="funcionario" value="Funcionario:"/>
				<p:selectOneMenu id="funcionario" value="#{vendaBean.venda.funcionario}" converter="omnifaces.SelectItemsConverter" filter="true" required="true">
					<f:selectItem noSelectionOption="true" itemLabel="Selecione um funcionário"/>
					<f:selectItems value="#{vendaBean.funcionarios}" var="funcionario" itemValue="#{funcionario}" itemLabel="#{funcionario.pessoa.nome}"/>
				</p:selectOneMenu>
				
				<p:outputLabel for="cliente" value="Cliente:"/>
				<p:selectOneMenu id="cliente" value="#{vendaBean.venda.cliente}" converter="omnifaces.SelectItemsConverter" filter="true" required="true">
					<f:selectItem noSelectionOption="true" itemLabel="Selecione um cliente"/>
					<f:selectItems value="#{vendaBean.clientes}" var="cliente" itemValue="#{cliente}" itemLabel="#{cliente.pessoa.nome} - #{cliente.pessoa.cpf}"/>
				</p:selectOneMenu>
				
			</p:panelGrid>
			
			
			<p:panelGrid columns="2">
				<p:commandButton value="Salvar" actionListener="#{vendaBean.salvar}" update=":mensagem :venda:painelTotal :venda:tabelaProduto :venda:tabelaCarrinho" oncomplete="PF('dialogo').hide();"/>
				<p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();"/>
			</p:panelGrid>
		</h:form>
	</p:dialog>
	
</ui:define>
</ui:composition>
