<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
	<h:outputStylesheet library="css" name="estilos.css"/>
	<h:outputScript library="js" name="scripts.js"/>
	<title>Drogaria</title>
</h:head> 
<h:body> 
	<p:growl id="mensagem" />


	<div id="geral">
	
		<div id="topo" class="topo">
			<p:graphicImage styleClass="banner" library="images" name="banner.jpg" />
		</div>
		
		<div id="conteudo">
			<ui:insert name="conteudo"/>
		</div>
		
	</div>
</h:body> 
</html>
