<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
	<h:outputStylesheet library="css" name="estilos.css"/>
	<h:outputScript library="js" name="scripts.js"/>
	<title>Drogaria</title>
</h:head> 
<ui:insert name="metadata"/>
<h:body> 
	<p:growl id="mensagem" />


	<div id="geral">
	
		<div id="topo" class="topo">
			<p:graphicImage styleClass="banner" library="images" name="banner.jpg" />
		</div>
		
		<div id="cabecalho">
		<h:form>
			<p:menubar>
				<p:menuitem icon="ui-icon-home"  url="/"/>
			
				<p:submenu label="Sistema">
					<p:menuitem value="Sair" actionListener="#{autenticacaoBean.logout()}"/>
				</p:submenu>
				
				<p:submenu label="Cadastros" rendered="#{autenticacaoBean.temPermissoes(['GERENTE','ADMINISTRADOR'])}">
					<p:menuitem value="Estado" url="/pages/estados.xhtml"/>
					<p:menuitem value="Cidade" url="/pages/cidades.xhtml"/>
					<p:menuitem value="Fabricante" url="/pages/fabricantes.xhtml"/>
					<p:menuitem value="Produto" url="/pages/produtos.xhtml"/>
					<p:menuitem value="Pessoa" url="/pages/pessoas.xhtml"/>
					<p:menuitem value="Cliente" url="/pages/clientes.xhtml"/>
					<p:menuitem value="Funcionário"/>
				</p:submenu>
				
				<p:submenu label="Consultas">
					<p:menuitem value="Produto" url="/pages/produtosPesquisa.xhtml"/>
				</p:submenu>
				
				<p:submenu label="Movimentações">
					<p:menuitem value="Venda" url="/pages/vendas.xhtml"/>
				</p:submenu>
				
				<p:submenu label="Ajuda">
					<p:menuitem value="Sobre"/>
				</p:submenu>
			</p:menubar>
		</h:form>
		</div>
		
		<div id="conteudo">
			<ui:insert name="conteudo"/>
		</div>
		
	</div>
</h:body> 
</html>
